{% if site.data.comments[page.slug] %}
<section class="staticman-comments comments-container page__comments">
<!-- Start static comments -->
<h2>{{ site.data.ui-text[site.locale].comments_title | default: "Comments" }}</h2>
{% assign comments = site.data.comments[page.slug] | sort %}
{% for comment in comments %}
	{% assign email = comment[1].email %}
	{% assign name = comment[1].name %}
	{% assign url = comment[1].url %}
	{% assign date = comment[1].date %}
	{% assign message = comment[1].message %}
	{% include comment/staticman-comment.html index=forloop.index email=email name=name url=url date=date message=message %}
{% endfor %}
<!-- End static comments -->
</section>
{% endif %}

<!-- Start new comment form -->
<section id="staticman-form-wrapper" class="hidden">
<h3>{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h3>
<form id="new_comment" class="page__comments-form clearfix" method="post">
	<fieldset class="form-group">
		<textarea type="text" rows="6" name="fields[message]" tabindex="1" placeholder="{{ site.data.ui-text[site.locale].comment_form_comment_label | default: "Comment" }}"></textarea>
		<div class="small help-block"><a href="https://kramdown.gettalong.org/syntax.html">{{ site.data.ui-text[site.locale].comment_form_md_info | default: "Markdown is supported." }}</a></div>
	</fieldset>
	<fieldset class="form-group">
		<input type="text" name="fields[name]" tabindex="2" placeholder="{{ site.data.ui-text[site.locale].comment_form_name_label | default: "Name" }}" />
	</fieldset>
	<fieldset class="form-group">
		<input type="email" name="fields[email]" tabindex="3" placeholder="{{ site.data.ui-text[site.locale].comment_form_email_label | default: "Email address" }}" />
	</fieldset>
	<fieldset class="form-group">
		<input type="url" name="fields[url]" tabindex="4" placeholder="{{ site.data.ui-text[site.locale].comment_form_website_label | default: "Website (optional)" }}" />
	</fieldset>

	<input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
	<input type="hidden" name="options[slug]" value="{{ page.slug }}">
	{% if site.staticman.reCaptcha.siteKey and site.staticman.reCaptcha.secret %}
	<input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.staticman.reCaptcha.siteKey }}">
	<input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.staticman.reCaptcha.secret  }}">
	{% endif %}

	<div id="staticman-notice-success" class="alert alert-success hidden">{{ site.data.ui-text[site.locale].comment_success_msg | default: "Thanks for your comment! It will show on the site once it has been approved." }}</div>
	<div id="staticman-notice-failure" class="alert alert-danger hidden">{{ site.data.ui-text[site.locale].comment_error_msg | default: "Sorry, there was an error with your submission. Please make sure all required fields have been completed and try again." }}</div>

	{% if site.staticman.reCaptcha.siteKey %}
	<fieldset class="pull-right g-recaptcha" data-sitekey="{{ site.staticman.reCaptcha.siteKey }}"></fieldset>
	{% endif %}
	<button type="submit" tabindex="5" class="btn btn-primary">{{ site.data.ui-text[site.locale].comment_btn_submit | default: "Submit Comment" }}</button>
</form>
</section>
<!-- End new comment form -->
<noscript><div class="alert alert-warning"><strong>Please enable JavaScript</strong> to post comments powered by Staticman.</div></noscript>
